<section id="about">
  <div class="about-header">
    <div class="about-header-line"></div>
    <h2 class="about-title">About Me</h2>
    <div class="about-header-line"></div>
  </div>

  <div class="about-content">
    <div class="about-left">
      <h3 class="about-subtitle">Who I am</h3>
      <p class="about-text">
        Hi, I'm Aleksandra! A frontend developer with over a year of experience, passionate about
        building clean and user-friendly applications. What drew me to frontend development was the
        perfect mix of problem-solving, continuous learning, and the ability to create things that
        make people's lives easier. I started out by following various online courses, and then grew
        the most by doing — building real projects, running into problems, and figuring out how to
        solve them.
      </p>
      <p class="about-text">
        I'm currently looking for a job or internship opportunity where I can continue to grow,
        contribute, and learn from a team.
      </p>
    </div>

    <div class="about-right">
      <div class="about-image">
        <img src="images/moja-slika.jpg" alt="Aleksandra" />
      </div>
    </div>
  </div>
  <h3 class="about-subtitle">My tech skill</h3>
  <div class="about-skills">
    <span class="skill">HTML</span>
    <span class="skill">CSS</span>
    <span class="skill">JavaScript</span>
    <span class="skill">Angular</span>
    <span class="skill">TypeScript</span>
    <span class="skill">Git</span>
    <span class="skill">GitHub</span>
    <span class="skill">Figma</span>
    <span class="skill">Bootstrap</span>
    <span class="skill">Tailwind</span>
    <span class="skill">PrimeNG</span>
  </div>
</section>
